{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "student" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4>{{ student.full_name }}</h4>			
		</div>
		<div class="card-body">
			<p><strong>{% trans "sex" %}</strong>: {{ student.sex }}</p>			
			<p><strong>{% trans "iin" %}</strong>: {{ student.iin }}</p>			
			<p><strong>{% trans "birthday" %}</strong>: {{ student.birthday | date:"d.m.Y" }}</p>			
			<p><strong>{% trans "phone" %}</strong>: {{ student.phone }}</p>			
			<p><strong>{% trans "address" %}</strong>: {{ student.address }}</p>			
		</div>
		<div class="card-footer">
			<p>{% trans "gruppa" %}: {{ student.gruppa }}</p>	
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'student_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}