{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "List" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "facultys" %}</h2>
<p><a href="{% url 'faculty_create'%}">{% trans "Add" %}</a></p>
<hr>
{% if faculty.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "faculty_title" %}</p></th>
				<th><p></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for p in faculty %}
			<tr>
				<td><p>{{ p.title }}</p></td>	
				<td>						
					<p>
					<a href="{% url 'faculty_edit' p.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'faculty_read' p.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'faculty_delete' p.id %}">{% trans "Delete" %}</a>
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}

