{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "List" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "visits" %}</h2>
<p><a href="{% url 'visit_create'%}">{% trans "Add" %}</a></p>
<hr>
{% if visit.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "schedule" %}</p></th>
				<th><p>{% trans "student" %}</p></th>
				<th><p>{% trans "visited" %}</p></th>
				<th><p></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for p in visit %}
			<tr>
				<td><p>{{ p.schedule }}</p></td>	
				<td><p>{{ p.student }}</p></td>	
				<td>
					<p>
					{% if p.visited == True %}
						<b>■</b>
					{% else %}
						<b>□</b>
					{% endif %}
					</p>
				</td>
				<td>						
					<p>
					<a href="{% url 'visit_edit' p.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'visit_read' p.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'visit_delete' p.id %}">{% trans "Delete" %}</a>
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}

