{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "visit" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4>{{ visit.student }}</h4>			
		</div>
		<div class="card-body">
			<p><strong>{% trans "schedule" %}</strong>: {{ visit.schedule }}</p>			
			<p>
				{% trans "visited" %}: 
				{% if visit.visited == True %}
					<b>■</b>
				{% else %}
					<b>□</b>
				{% endif %}
			</p>	
		</div>
		<div class="card-footer">
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'visit_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}