{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<div class="div-width-100-text-center">
	<h1>Расписание</h1>
</div>
<div class="row">
	<div class="col-lg-10 border" style="padding:10px;">		
		<table id="table" class="table-manager" style="width:100%">
			<thead>
				<tr>
					<th><p>{% trans "dates" %}</p></th>
					<th><p>{% trans "discipline" %}</p></th>
					<th><p>{% trans "gruppa" %}</p></th>
				</tr>
			</thead>
			<tbody>
				{% for p in schedule %}
				<tr>
					<td><p>{{ p.dates | date:"d.m.Y H:i" }}</p></td>	
					<td><p>{{ p.discipline }}</p></td>	
					<td><p>{{ p.gruppa }}</p></td>	
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p style="text-align: center;" ><a href="{% url 'schedule_list' %}">{% trans "all schedule" %}</a></p>
	</div>
	<div class="col-lg-2 border" style="padding:10px;">
		<div class="div-width-100-text-center">
			<h3>Новости</h3>
		</div>
		{% if news14.count > 0 %}
			{% for c in news14 %}
			<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
			<div class="row">
				{% if c.photo.url != None %}
					<img class="img-center3" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
				{% endif %}
			</div>
			<div class="row">
				<h6><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h6>
			</div>
			<hr class="my-4">
			{% endfor %}
			<p style="text-align: center;" ><a href="{% url 'news_list' %}">{% trans "all newss" %}</a></p>
		{% endif %}
	</div>	
</div>


{% endblock content %}

